* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(122, 67, 211);
}

#header {
  width: 100%;
  background-color: #1a202a;
  color: #adb1ff;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

#contenido {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  background-color: rgb(122, 67, 211);
}

#calculos {
  margin: 30px;
}

#registros {
  text-align: center;
  margin-bottom: 30px;
}

#total {
  width: 80%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

#total button {
  margin-right: 5%;
}
#total label {
  font-weight: 900;
}

#footer {
  width: 100%;
  background-color: #1a202a;
  color: #adb1ff;
  text-align: center;
  padding: 20px;
  margin-top: auto;
}

.calculos-txt {
  color: white;
  border: none;
  padding: 5px;
  background-color: #1a202a;
  margin: 2px;
}
.botones {
  padding: 5px;
  background-color: #adb1ff;
  border-radius: 10px;
  border: none;
  font-weight: 900;
}
